server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/songwriting
    username: songwriting
    password: songwriting

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
  web:
    error:
      include-message: always
      include-binding-errors: always

logging:
  level:
    org.hibernate.SQL: debug
